//VariableChanges
$primary: hsl(5, 85%, 63%);
$secondary: hsl(240, 100%, 5%);
$text-color: hsl(36, 100%, 99%);
$sub-text-color: hsl(233, 8%, 79%);
$highlight:hsl(35, 77%, 62%);
$art-Sub-Color: hsl(236, 13%, 42%);



//Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
//PrimeNG
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

//Font
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/static/Inter-Regular.ttf');
}

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button {
    background-color: $primary;
    border: none;
    color: black;
    width: 50%;
    height: 40px;
    padding: 5px, 5px, 5px, 5px;
  }

  button:hover {
    background-color: $secondary;
    color: $text-color;
  }
}

//Regular Items
body {
  //Font
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  //Size
  max-width: 1440px;
  min-width: 320px;
  max-height: 100vh;
}
.sub-Text{
  color:$sub-text-color;
}

//New Articles Section
.New-Articles {
  background-color: $secondary;
  color: $text-color;
  padding:30px 10px 30px 30px ;
  text-align: start;
  justify-content: center;
  align-items: center;
  .New{
color: $highlight ;
font-size: 35px;
font-weight: 700;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
  }
 

  .space {
    background-color: aliceblue;
    width: 100%;
    height: 1px;
  }
}


//Bottom Section Artices
@media screen and (min-width: 978px) {
   .Row{
display: flex;
flex-direction: row;
   }
}
.art-Title{
  font-size: 15px;
color: $secondary;
font-weight: 700;
}
.art-Sub-Title{
  font-size: small;
color:$art-Sub-Color ;
}

    .padding{
margin-right: 50px;
    }
 

.Number {
    font-weight: 700;
    font-size: 30px;
  color: $primary;
}
